In [6]:
!pip install selenium
!pip install webdriver_manager

Requirement already satisfied: selenium in c:\users\rupas\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rupas\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\rupas\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rupas\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\rupas\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rupas\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: outcome in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\rupas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\rupas\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rupas\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\rupas\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rupas\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver_manager in c:\users\rupas\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: python-dotenv in c:\users\rupas\anaconda3\lib\site-packages (from webdriver_manager) (1.0.1)
Requirement already satisfied: requests in c:\users\rupas\anaconda3\lib\site-packages (from webdriver_manager) (2.28.1)
Requirement already satisfied: packaging in c:\users\rupas\anaconda3\lib\site-packages (from webdriver_manager) (22.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rupas\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\rupas\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rupas\anaconda3\lib\site-packages (from requests->webdriver_manager) (2023.5.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rupas\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.14)

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
options = webdriver.ChromeOptions()

In [4]:
driver = webdriver.Chrome(options = options)

In [8]:
driver.get("https://www.amazon.in/")

In [13]:
search = driver.find_element(By.XPATH,".//input[@class='nav-input nav-progressive-attribute']")

In [14]:
search.send_keys("top 10 dell laptops")

In [15]:
search.send_keys(Keys.ENTER)

In [32]:
brand = driver.find_elements(By.XPATH,".//span[@class='a-size-medium a-color-base a-text-normal']")
brands = [ i.text  for i in brand]

In [34]:
print(brands)
print(len(brands))

['Dell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB + 256GB SSD/15.6" (39.62cm) FHD with Comfort View/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon/Thin & Light-1.69kg', 'Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/512GB SSD/14.0" (35.56cm) FHD TÃœV Rheinland Certified Comfortview to Reduce Harmful Blue Light Emission/Windows 11 + MSO\'21/Black/15 Month McAfee,1.48kg', '(Renewed) Dell Latitude Laptop E5470 Intel Core i5 6th Gen. - 6200u Processor, 8 GB Ram & 256 GB SSD, 14.1 Inches HD Screen Notebook Computer', '(Renewed) Dell Latitude Laptop E7480 Intel Core i5 Windows 10 Pro - 6200u Processor 6th Gen, 16 GB Ram & 256 GB SSD, 14.1 inches - Ultra Slim & Feather Light 1.37KG, Notebook Computer', '(Renewed) Dell Latitude Laptop E5480 Intel Core i5 7th Gen. - 7300u Processor, 8 GB Ram & 512 GB SSD, 14.1 inches Full HD Screen Notebook Computer Windows 10 Pro', '(Renewed) Dell Latitude Air Laptop E7280 Intel Core i5 - 6300u Processor 6th Gen, 8 GB Ram & 128 GB SSD, 12.5 inches Ultra Slim & Feather Light 1KG Notebook Computer, Windows 10 Pro', '(Renewed) Dell Latitude Laptop Windows 10 Pro E7470 Intel Core i5 - 6300u Processor, 8 GB Ram & 256 GB SSD, 14.1 inches Screen (Ultra Slim & Light 1.58KG) Notebook Computer', 'Dell (Refurbished) Latitude E5470 14 Inches Laptop (Intel Core I5 6Th Gen/8Gb/256 Gb Sdd/Windows 10/Ms O', 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/ 8GB/ 1TB+256GB SSD/15.6"(39.62cm) FHD Display/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Black/Thin & Light 1.69kg', 'Dell Latitude 5430 Laptop - 14" HD (1366x768) AG Display - 4.4 GHz Intel Core i5-1245U 10-Core (12th Gen) - 16GB - 256GB SSD - Windows 10 Pro', 'Samsung Galaxy Book3 Core i5 13th Gen 1335U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop (15.6 Inch, Silver, 1.58 Kg, with MS Office)', 'Samsung Galaxy Book3 360 Intel 13th Gen i7 EvoTM 39.6cm(15.6") Super Amoled 2-in-1 Touchscreen Laptop (16 GB/512GB SSD/Windows11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.46Kg),NP750QFG-KA1IN', 'Dell Vostro 3400 14 inches(35cm) FHD Anti Glare Display Laptop (11th Gen Intel i5-1135G7 / 8GB / 1TB / Integrated Graphics/Windows 10 + MS Office/Black/ 1.58Kg) D552154WIN9BE', 'Dell 15 Laptop, Intel 12th Gen Core i3-1215U Proc/8GB DDR4/512GB SSD/Intel UHD Graphic/15.6" (38cm) FHD Display/Spill-Resistant Keyboard/Win11+MSO\'21/15 Month McAfee/Black/Thin & Light 1.69kg', '(Refurbished) Dell Latitude Laptop E5470 Intel Core I5 6Th Gen. - 6200U Processor, 8 Gb Ram & 128 Gb Ssd', '(Renewed) DELL Latitude 5490 Core i5 8th Gen Laptop, 16 GB RAM, 512GB SSD, Intel HD Graphics, 14 inch (36.83 cms) HD Screen, Windows 11 (Upgraded), MS Office, Black, Slim', "DELL (Refurbished) Latitude 5580 (Core i5 7th Gen/ 8GB Ram/ 256GB SSD/Webcam/ 15.6'' Non Touch/Win-10 Pro)", 'Dell G15-5521 Gaming Laptop,Intel Core i9-12900H Processor/ 16GB DDR5/ 1TB SSD/NVIDIA RTX 3070 Ti (8GB GDDR6)/ 15.6" (39.62cm) QHD WVA AG 240 Hz 400 nits/Windows 11+ MSO\'21/ Obsidian Black/ 2.81kg', 'ASUS Vivobook 16X (2022), 16.0-inch (40.64 cms) FHD+ 16:10, AMD Ryzen 5 5600H, Thin and Laptop (8GB/512GB SSD/Integrated Graphics/Windows 11/Office 2021/Silver/1.80 kg), M1603QA-MB501WS', '(Renewed) DELL Latitude 5490 Core i5 7th Gen Laptop, 8 GB RAM, 256GB SSD, Intel HD Graphics, 14 inch (36.83 cms) HD Screen, Windows 11 (Upgraded), MS Office, Black, Slim', 'Samsung Galaxy Book3 Pro Intel 13th Gen i7 EvoTM 35.56cm(14") Dynamic Amoled 2X, 3K Display, 120Hz, Ultra Thin & Light Laptop(16 GB/512 GB SSD/Windows 11/MS Office/Graphite/1.17Kg), NP940XFG-KC4IN', 'Lenovo ThinkPad E14 Intel Core i5 12th Gen 14" FHD Thin and Light Laptop (8GB RAM/512GB SSD/Windows 11 Home/MS Office H&S 2021/FPR/Backlit Keyboard/Black/1.59 kg), 21E3S04X00']
22

In [37]:
price = driver.find_elements(By.XPATH,".//span[@class='a-price-whole']")
prices = [ i.text for i in price]

In [38]:
print(prices)
print(len(prices))

['34,990', '46,990', '17,309', '21,499', '19,499', '20,990', '24,490', '16,400', '44,990', '1,20,000', '75,026', '1,22,990', '58,500', '35,990', '15,998', '24,374', '24,799', '1,41,990', '48,900', '19,999', '1,24,990', '67,990']
22

In [39]:
df = pd.DataFrame(columns = ["brand" , "Price"])
df

Empty DataFrame
Columns: [brand, Price]
Index: []

In [40]:
df['brand'] = brands
df['Price'] = prices

In [41]:
df

                                                brand     Price
0   Dell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB ...    34,990
1   Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/51...    46,990
2   (Renewed) Dell Latitude Laptop E5470 Intel Cor...    17,309
3   (Renewed) Dell Latitude Laptop E7480 Intel Cor...    21,499
4   (Renewed) Dell Latitude Laptop E5480 Intel Cor...    19,499
5   (Renewed) Dell Latitude Air Laptop E7280 Intel...    20,990
6   (Renewed) Dell Latitude Laptop Windows 10 Pro ...    24,490
7   Dell (Refurbished) Latitude E5470 14 Inches La...    16,400
8   Dell 15 Laptop, Intel Core i5-1135G7 Processor...    44,990
9   Dell Latitude 5430 Laptop - 14" HD (1366x768) ...  1,20,000
10  Samsung Galaxy Book3 Core i5 13th Gen 1335U - ...    75,026
11  Samsung Galaxy Book3 360 Intel 13th Gen i7 Evo...  1,22,990
12  Dell Vostro 3400 14 inches(35cm) FHD Anti Glar...    58,500
13  Dell 15 Laptop, Intel 12th Gen Core i3-1215U P...    35,990
14  (Refurbished) Dell Latitude Laptop E5470 Intel...    15,998
15  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...    24,374
16  DELL (Refurbished) Latitude 5580 (Core i5 7th ...    24,799
17  Dell G15-5521 Gaming Laptop,Intel Core i9-1290...  1,41,990
18  ASUS Vivobook 16X (2022), 16.0-inch (40.64 cms...    48,900
19  (Renewed) DELL Latitude 5490 Core i5 7th Gen L...    19,999
20  Samsung Galaxy Book3 Pro Intel 13th Gen i7 Evo...  1,24,990
21  Lenovo ThinkPad E14 Intel Core i5 12th Gen 14"...    67,990

In [42]:
df.to_csv("laptops.csv")

In [43]:
df

                                                brand     Price
0   Dell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB ...    34,990
1   Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/51...    46,990
2   (Renewed) Dell Latitude Laptop E5470 Intel Cor...    17,309
3   (Renewed) Dell Latitude Laptop E7480 Intel Cor...    21,499
4   (Renewed) Dell Latitude Laptop E5480 Intel Cor...    19,499
5   (Renewed) Dell Latitude Air Laptop E7280 Intel...    20,990
6   (Renewed) Dell Latitude Laptop Windows 10 Pro ...    24,490
7   Dell (Refurbished) Latitude E5470 14 Inches La...    16,400
8   Dell 15 Laptop, Intel Core i5-1135G7 Processor...    44,990
9   Dell Latitude 5430 Laptop - 14" HD (1366x768) ...  1,20,000
10  Samsung Galaxy Book3 Core i5 13th Gen 1335U - ...    75,026
11  Samsung Galaxy Book3 360 Intel 13th Gen i7 Evo...  1,22,990
12  Dell Vostro 3400 14 inches(35cm) FHD Anti Glar...    58,500
13  Dell 15 Laptop, Intel 12th Gen Core i3-1215U P...    35,990
14  (Refurbished) Dell Latitude Laptop E5470 Intel...    15,998
15  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...    24,374
16  DELL (Refurbished) Latitude 5580 (Core i5 7th ...    24,799
17  Dell G15-5521 Gaming Laptop,Intel Core i9-1290...  1,41,990
18  ASUS Vivobook 16X (2022), 16.0-inch (40.64 cms...    48,900
19  (Renewed) DELL Latitude 5490 Core i5 7th Gen L...    19,999
20  Samsung Galaxy Book3 Pro Intel 13th Gen i7 Evo...  1,24,990
21  Lenovo ThinkPad E14 Intel Core i5 12th Gen 14"...    67,990

In [44]:
options = webdriver.ChromeOptions()

In [47]:
driver = webdriver.Chrome(options = options)

In [48]:
driver.get("https://www.myntra.com/")

In [52]:
search = driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [53]:
search.send_keys("smart watches")

In [54]:
search.send_keys(Keys.ENTER)

In [55]:
watch_name = driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
price = driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")

In [56]:
brands = [i.text for i in watch_name]
prices = [i.text for i in price]
print(len(brands),len(prices))

50 50

In [59]:
print(brands)
print(prices)

['Fire-Boltt', 'pebble', 'Fire-Boltt', 'boAt', 'NOISE', 'Fire-Boltt', 'CMF by Nothing', 'Cultsport', 'pebble', 'pebble', 'NOISE', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'boAt', 'NOISE', 'NOISE', 'Fire-Boltt', 'boAt', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'CMF by Nothing', 'pebble', 'NOISE', 'CMF by Nothing', 'pebble', 'NOISE', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'Fire-Boltt', 'Realme', 'Fastrack', 'NOISE', 'pebble', 'NOISE', 'Fire-Boltt', 'Fastrack', 'Realme', 'Fire-Boltt', 'Timex', 'NOISE', 'Fire-Boltt', 'pebble', 'boAt', 'Fire-Boltt', 'Fastrack']
['Rs. 1899', 'Rs. 2299', 'Rs. 3199', 'Rs. 1899', 'Rs. 1799', 'Rs. 1899', 'Rs. 3499', 'Rs. 2799', 'Rs. 1699', 'Rs. 2299', 'Rs. 2249', 'Rs. 1799', 'Rs. 2299', 'Rs. 1799', 'Rs. 1599', 'Rs. 1599', 'Rs. 1899', 'Rs. 3499', 'Rs. 1799', 'Rs. 1700', 'Rs. 1899', 'Rs. 1999', 'Rs. 1799', 'Rs. 1799', 'Rs. 3499', 'Rs. 1599', 'Rs. 1799', 'Rs. 3499', 'Rs. 2499', 'Rs. 999', 'Rs. 1899', 'Rs. 1799', 'Rs. 1850', 'Rs. 1899', 'Rs. 2499', 'Rs. 2495', 'Rs. 3999', 'Rs. 1599', 'Rs. 2449', 'Rs. 2199', 'Rs. 2995', 'Rs. 2499', 'Rs. 1999', 'Rs. 3497', 'Rs. 4999', 'Rs. 1699', 'Rs. 1999', 'Rs. 4799', 'Rs. 2499', 'Rs. 1999']

In [64]:
df1 = pd.DataFrame(columns = ['Brands' , 'Price'])

In [65]:
df1["Brands"]=brands
df1["Price"]=prices
print(df1)

            Brands     Price
0       Fire-Boltt  Rs. 1899
1           pebble  Rs. 2299
2       Fire-Boltt  Rs. 3199
3             boAt  Rs. 1899
4            NOISE  Rs. 1799
5       Fire-Boltt  Rs. 1899
6   CMF by Nothing  Rs. 3499
7        Cultsport  Rs. 2799
8           pebble  Rs. 1699
9           pebble  Rs. 2299
10           NOISE  Rs. 2249
11      Fire-Boltt  Rs. 1799
12          pebble  Rs. 2299
13      Fire-Boltt  Rs. 1799
14          pebble  Rs. 1599
15      Fire-Boltt  Rs. 1599
16            boAt  Rs. 1899
17           NOISE  Rs. 3499
18           NOISE  Rs. 1799
19      Fire-Boltt  Rs. 1700
20            boAt  Rs. 1899
21      Fire-Boltt  Rs. 1999
22           NOISE  Rs. 1799
23      Fire-Boltt  Rs. 1799
24  CMF by Nothing  Rs. 3499
25          pebble  Rs. 1599
26           NOISE  Rs. 1799
27  CMF by Nothing  Rs. 3499
28          pebble  Rs. 2499
29           NOISE   Rs. 999
30      Fire-Boltt  Rs. 1899
31           NOISE  Rs. 1799
32      Fire-Boltt  Rs. 1850
33      Fire-Boltt  Rs. 1899
34          Realme  Rs. 2499
35        Fastrack  Rs. 2495
36           NOISE  Rs. 3999
37          pebble  Rs. 1599
38           NOISE  Rs. 2449
39      Fire-Boltt  Rs. 2199
40        Fastrack  Rs. 2995
41          Realme  Rs. 2499
42      Fire-Boltt  Rs. 1999
43           Timex  Rs. 3497
44           NOISE  Rs. 4999
45      Fire-Boltt  Rs. 1699
46          pebble  Rs. 1999
47            boAt  Rs. 4799
48      Fire-Boltt  Rs. 2499
49        Fastrack  Rs. 1999

In [69]:
df1

            Brands     Price
0       Fire-Boltt  Rs. 1899
1           pebble  Rs. 2299
2       Fire-Boltt  Rs. 3199
3             boAt  Rs. 1899
4            NOISE  Rs. 1799
5       Fire-Boltt  Rs. 1899
6   CMF by Nothing  Rs. 3499
7        Cultsport  Rs. 2799
8           pebble  Rs. 1699
9           pebble  Rs. 2299
10           NOISE  Rs. 2249
11      Fire-Boltt  Rs. 1799
12          pebble  Rs. 2299
13      Fire-Boltt  Rs. 1799
14          pebble  Rs. 1599
15      Fire-Boltt  Rs. 1599
16            boAt  Rs. 1899
17           NOISE  Rs. 3499
18           NOISE  Rs. 1799
19      Fire-Boltt  Rs. 1700
20            boAt  Rs. 1899
21      Fire-Boltt  Rs. 1999
22           NOISE  Rs. 1799
23      Fire-Boltt  Rs. 1799
24  CMF by Nothing  Rs. 3499
25          pebble  Rs. 1599
26           NOISE  Rs. 1799
27  CMF by Nothing  Rs. 3499
28          pebble  Rs. 2499
29           NOISE   Rs. 999
30      Fire-Boltt  Rs. 1899
31           NOISE  Rs. 1799
32      Fire-Boltt  Rs. 1850
33      Fire-Boltt  Rs. 1899
34          Realme  Rs. 2499
35        Fastrack  Rs. 2495
36           NOISE  Rs. 3999
37          pebble  Rs. 1599
38           NOISE  Rs. 2449
39      Fire-Boltt  Rs. 2199
40        Fastrack  Rs. 2995
41          Realme  Rs. 2499
42      Fire-Boltt  Rs. 1999
43           Timex  Rs. 3497
44           NOISE  Rs. 4999
45      Fire-Boltt  Rs. 1699
46          pebble  Rs. 1999
47            boAt  Rs. 4799
48      Fire-Boltt  Rs. 2499
49        Fastrack  Rs. 1999

In [70]:
df1.to_csv("smart_watches.csv")